.container {
    max-width: 45vw;
    margin: 45px auto;
}

.container h1 {
    text-align: center
}

@media (max-width: 600px) {

    .container {
        max-width: 90vw;
        margin: 45px auto;
    }


}